<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rathods.schoolapp_v4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SchoolAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Verify" />
        <activity
            android:name=".User.UserHome"
            android:label="@string/title_activity_user_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User.GalleryDetailsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".User.GalleryPagingActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3cfaa4c98dd1aa02d76648d83abedeb7570bec16" />

        <!-- Firebase Notifications -->
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity android:name=".showNews" />
        <activity android:name=".showEvent" />
        <activity android:name=".showNotice"></activity>
    </application>

</manifest>